@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
  --main-color: #353436;
  --menu-color: #E2D1A6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--main-color);
  font-family: "Open Sans";
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer-lang a:not(:last-child)::after {
  content: "|";
  margin: 0 0.3em;
}

a:hover {
  color: var(--menu-color);
  text-decoration: underline;
}

a:focus {
  outline: 2px solid var(--menu-color);
  outline-offset: 2px;
}

ul{
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  min-width: 120px;
  flex-shrink: 0;
}

.logo img {
  height: auto;
  max-height: 87px;
  width: auto;
  max-width: 300px;
  min-width: 100px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.menu__item {
  position: relative;
}

.menu__item a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  padding: 10px 15px;
  display: block;
}
  
.submenu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submenu li a {
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
}

.menu__item--has-sub:hover .submenu {
  display: block;
  background-color: var(--main-color);
}

.menu__item a:hover,
.submenu li a:hover {
  color: var(--menu-color);
}

.submenu li:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 5px auto;
  width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
  z-index: 1000;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.auth-container {
  order: 3;
  margin-left: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

hr {
  width: 90%;
  margin: 0px auto;
  height: 2px;
  background-color: #fff;
  border: none;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slider-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  bottom: 50px;
  justify-content: center;
  gap: 8px;
  transition: opacity 0.3s ease;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: background 0.3s;
  border: 2px solid rgba(0, 0, 0, 1);
}

.dot.active {
  background: rgba(212, 196, 156, 1);
}

/* Кнопка */
.toggle-btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s;
  z-index: 12;
}

.toggle-btn:hover {
  background: #555;
}

.custom-arrow {
  transition: transform 0.3s ease;
  max-width: 64px;
  width: 100%;
  height: 100%;
  transform: scale(3.5) translateY(30%) rotate(180deg);
  transform-origin: center;
}

.custom-arrow.rotated {
  transform: scale(3.5);
}

.hidden-block.show {
  max-height: 200px;
  height: auto;
  min-height: 200px;
}

.text-block h3 {
  font-family: "Playfair Display";
  font-size: 1.7rem;
}

.container h3 {
  font-family: "Playfair Display";
  font-size: 0.8rem;
}

.slider-dots.hide {
  opacity: 0;
  pointer-events: none;
}

/* Текстовые блоки */
.text-block {
  max-width: 600px;
  flex: 1;
  min-width: 300px;
  padding: 20px;
  position: relative;
  color: white;
  box-sizing: border-box;
}

.block1 {
  background: #E2D1A6;
  color: #000;
}

.block2 {
  background: #fff;
  color: #000;
}

.block3 {
  background: #000;
  color: #fff;
}

.action-link {
  position: absolute;
  bottom: 12px;
  right: 16px;
  font-size: 0.9em;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 85vh;
  max-height: 900px;
  overflow: hidden;
}

.hidden-block {
  max-height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  background: #353436;
  transition: max-height 0.6s ease;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 11;
}

.slider-text {
  position: absolute;
  font-size: 1.09rem;
  top: 43%;
  right: 0%;
  transform: translateY(-50%); 
  color: black;
  text-align: left; 
  z-index: 8;
  max-width: 41%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.slider-text h2 {
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 1.8rem;
}

.slider-text p {
  line-height: 1.6;
}


footer {
  background:var(--main-color);
  color: #ecf0f1;
  padding: 70px 0 20px;
  margin: auto;
}

.footer-top {
  width: 72%;
  display: flex;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer-column {
  flex: 1;
  width: 200px;
}

.footer-column h3 {
  margin-bottom: 20px;
  color: var(--white);
  position: relative;
  padding-bottom: 10px;
}

.footer-column p {
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li i {
  margin-right: 10px;
  color: #3498db;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: none;
  color: rgba(138, 138, 138, 0.123);
  font-family: "Open Sans";
  font-size: medium;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
}

.checkbox-group input {
  margin-right: 10px;
  width: auto;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background 0.3s;
  width: 100%;
  font-family: "Open Sans";
}

.btn:hover {
  background: #6e6363;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.social-item a img {
  height: 25px;
  max-width: 100%;
  filter: invert(100%);
}

.auth-container a img {
  margin-left: 5px;
  height: 20px;
  max-width: 100%;
  filter: invert(100);
}

.footer-lang
{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.footer-lang a {
  text-decoration: none;
  font-weight: 400;
  color: var(--white);
  display: block;
}

.block2 .action-link
{
  color: #000;
  text-decoration: none;
}

.text-block .action-link
{
  font-size: 1.1rem;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.hamburger {
  display: block;
  width: 25px;
  height: 2px;
  background: var(--white);
  position: relative;
  transition: all 0.3s ease;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--white);
  left: 0;
  transition: all 0.3s ease;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  bottom: -8px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--main-color);
    flex-direction: column;
    padding: 100px 20px 20px;
    transition: right 0.4s ease;
    z-index: 1000;
  }

  .menu.active {
    right: 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 0;
  }

  .menu__item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .menu__item a {
    padding: 15px 0;
  }

  .submenu {
    position: static;
    display: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
  }

  .menu__item--has-sub .submenu.active {
    display: block;
  }

  .submenu li a {
    padding-left: 20px;
    font-size: 0.9em;
  }

  .menu-toggle.active .hamburger {
    background: transparent;
  }

  .menu-toggle.active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
  }

  .menu-toggle.active .hamburger::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .hidden-block {
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
  }

  .hidden-block.show {
    max-height: min-content;
    min-height: 300px;
  }
  
  
  .text-block {
    width: 100%;
    max-width: 500px;
  }
}

.auth-btn {
  display: flex;
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  align-items: center;
}

.auth-btn:hover {
  text-decoration: none;
}

.auth-modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-title {
  text-align: center;
  margin: 0 0 2rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.auth-forms-wrapper {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.auth-modal-content {
  background: var(--main-color);
  padding: 2rem 3rem;
  color: #f9f9f9;
  top: 0%;
  margin: 0 auto;
  width: 90%;
  max-width: 590px;
  max-height: 90vh;
  overflow-y: auto;
  animation: modalAppear 0.3s ease;
  position: relative;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .auth-modal-content {
    padding: 1.5rem;
    width: 95%;
  }
  
  .auth-forms-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .auth-modal-content {
    padding: 1rem;
  }
  
  .auth-title {
    font-size: 1.5rem;
  }
}

.auth-close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
}

.auth-close:hover {
  color: var(--menu-color);
}

.compact-form .auth-form-group {
  margin-bottom: 8px;
}

.compact-form .auth-form-group input {
  padding: 4px 5px;
  font-size: 0.9rem;

}

.compact-form .auth-submit-btn {
  margin-top: 12px;
  padding: 10px;
}

.auth-form-group {
  margin-bottom: 20px;
}

.auth-form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.auth-form-group input {
  width: 100%;
  padding: 8px;
  background: rgb(255, 255, 255);
  color: var(--black);
  font-size: 1rem;
}

.auth-form-group input:focus {
  border-color: var(--menu-color);
  outline: none;
}

.auth-form-group {
  flex: 1;
}

.auth-checkbox-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.auth-checkbox-group input {
  width: auto;
  margin-top: 5px;
  margin-right: 10px;
}

.auth-subtitle {
  margin-bottom: 10px;
}

.auth-submit-btn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.auth-submit-btn:hover {
  background: #d4c49c;
}

/* Адаптивность */
@media (max-width: 600px) {
  .auth-forms-wrapper{
    margin: 0 auto;
    width: 80%;
  }
  .auth-modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 60%;
  }
}

@media (max-width: 480px) {
  .auth-modal-content {
    margin: 20% auto;
  }
  
  .auth-container {
    margin-left: 10px;
  }
  
  .auth-btn {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

.menu__item.active > a {
  color: var(--menu-color);
  position: relative;
}